.nav {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 4.3rem;
    display: grid;
    grid-template-columns: 4rem min-content 2fr min-content 4rem;
    z-index: 99;
    padding: 1rem;
}

.nav_black {
    background: #000;
    transition: 0.5s;
}

.nav_logo {
    display: grid;
    grid-column: 2/3;
}

.nav_logo img {
    width: 6rem;
    min-height: 1.8rem;
    object-fit: contain;
}

.nav_avatar {
    display: grid;
    grid-column: 4/5;
}

.nav_avatar img {
    width: 2.2rem;
    object-fit: contain;
    border-radius: 2px;
}

@media screen and (max-width: 520px) {
    .nav {
        height: 1rem;

    }

    .nav_logo {
        display: grid;
        grid-column: 1/2;
        ;
    }

    .nav_logo img {
        width: 4rem;
        min-height: 0.8rem;
        object-fit: contain;
    }

    .nav_avatar {
        display: grid;
        grid-column: 5/6;
    }

    .nav_avatar img {
        width: 1.6rem;
        object-fit: contain;
        border-radius: 2px;
    }
}