.row {
    margin-left: 20px;
    color: #fff;
}

.row_movies_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 15px 0;
    /* color: #fff; */
}

.row_movies_posters::-webkit-scrollbar {
    display: none;
}

.posters {
    width: 200px;
    margin-right: 13px;
    transition: transform .450s;
    cursor: pointer;
}

.posters:hover {
    transform: scale(1.09);
}

.left-arrow {
    z-index: 11;
    left: 3%;
}

.right-arrow {
    z-index: 11;
    right: 2%;

}

.left-arrow, .right-arrow {
    width: 16px;
    cursor: pointer;
    position: absolute;
    margin-top: 120px;
    cursor: pointer;
}

.left-arrow-shadow {
    background-image: linear-gradient(270deg, rgba(24, 24, 24, 0) 0, #181818);
    left: 1%;
    margin-top: 0;
    height: 301px;
    width: 38px;
    position: absolute;
    z-index: 1;
}


.right-arrow-shadow {
    background-image: linear-gradient(270deg, #181818 0, rgba(24, 24, 24, 0));
    right: 0.5%;
    margin-top: 0;
    height: 301px;
    width: 40px;
    position: absolute;
    z-index: 1;
}

.yt-main {
    padding: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.yt-player {
    width: 95%;
    margin: 0;
    padding: 0;
}

.close-yt-trailer-btn {
    color: #fff;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.close-yt-trailer-btn:hover {
    color: red;
    transform: scale(1.2);
}


@media screen and (max-width: 520px) {
    .row_movies_posters {
        margin-bottom: 10px;
        z-index: 2;
    }

    .posters {
        width: 130px;
    }

    .left-arrow, .right-arrow {
        display: none;
    }

    .left-arrow-shadow, .right-arrow-shadow {
        display: none;
    }

    .yt-main {
        /* position: relative; */
    }

    .yt-player {
        /* position: relative; */
    }

    .close-yt-trailer-btn {
        /* position: absolute; */
        color: #fff;
        font-size: 24px;
        margin-top: 1.1rem;
        margin-left: 17rem;
        cursor: pointer;
        /* display: none; */
    }

}