.row {
    margin-left: 20px;
    color: #fff;
}

.row_movies_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 15px 0;
    /* color: #fff; */
}

.row_movies_posters::-webkit-scrollbar {
    display: none;
}

.posters {
    width: 200px;
    margin-right: 13px;
    transition: transform .450s;
    cursor: pointer;
}

.posters:hover {
    transform: scale(1.09);
}

/* #movie_close {
    display: none;
} */

@media screen and (max-width: 520px) {
    .row_movies_posters {
        margin-bottom: 10px;
        z-index: 2;
    }

    .posters {
        width: 130px;
    }
}